body{
  margin: 0;
}

.header {
  display: flex;
  background-color: #F55A5A;
  align-items: center;
  justify-content: center;
  color: white;
  height: 55px;
  font-size: 1  rem;
}

.header > img {
  height: 24px;
  margin-right: 7px;

}

